/* @import 'https://fonts.googleapis.com/css?family=Baloo+Paaji'; */

@import 'https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #01985a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 10px;
  color: brown;
}

ul, li {
  padding:0px;
  margin: 0px;
  list-style: none;
}

input {
  text-decoration: none;
  outline: none;
  padding: 8px;
  font-size: 13px;
  font-family: Tahoma;
}

button {
  border: none;
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-thumb {
  height: 30%; 
  background: #FFF;  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #2ecc71
}


