.Nav-div {
  width: 400px;
  margin: auto;
}

.Nav-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}


.Nav-logo, 
.Nav-profile,
.Nav-logout {
  background: #f96100;
  width: 45px;
  height: 30px;
  font-size: 10px;
  color: #fff;
  border-top-left-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}
